{% load static %}
<!--Footer start-->
<div class="row mt-5 " >
    <div class="col-4" style="background-color:rgb(215, 211, 211) ;">
        <h5 style="text-align:center">Address</h5>
        <hr>
        Gandhi Colony, Tilak Ali, Pramod Mahajan Sankul, 
        Tilak Memorial, 
        Ratnagiri - 415612 (Near ST Stand)<br><br>
        <p><i class="bi bi-telephone"></i>&nbsp;&nbsp;&nbsp;9422432663</p>
        <p><i class="bi bi-envelope-fill text-danger"></i>&nbsp;&nbsp;&nbsp;sanskruti31@gmail.com</p>
    </div>   
    <div class="col-4" style="background-color:rgb(215, 211, 211) ;">
        <h5 style="text-align:center">Quick Links</h5>
        <hr>
        <p style="text-align:center" ><a href="/home">Home</a></p>
        <p style="text-align:center"><a href="/about">About</a></p>
        <p style="text-align:center"><a href="/contact">Contact</a></p>
        
    </div>
    <div class="col-4" style="background-color:rgb(215, 211, 211) ;" >
        <h5 style="text-align:center">Connect Us</h5>
        <hr>
        <h5  style="text-align:center"><a href="https://www.instagram.com/"><i class="bi bi-instagram text-danger"></i></a></h5>
        <h5  style="text-align:center"><a href="https://www.facebook.com/"><i class="bi bi-facebook text-danger"></i></a></h5>
        <h5  style="text-align:center"><a href="https://www.twitter.com/"><i class="bi bi-twitter text-danger"></i></a></h5>
    </div> 
</div><!--Footer end-->


</div>


<script src="{%static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{%static 'assets/js/main.js' %}"></script>
</body>
</html>