{% extends 'base.html'%}

{% block 'main' %}
{% load static %}
<!--cart start-->
<div class="row mt-4">
    <div class="col-md-9">
      {% for x in data %}
      {% if forloop.counter == 1 %}
      <h5 class="bg-danger text-white">Customer Details</h5>
      <p><b>Name:</b>&nbsp;&nbsp;&nbsp;{{x.uid.username}}</p>
      <p><b>Email id:</b>&nbsp;&nbsp;&nbsp;{{x.uid.email}}</p>
      {% endif %}
      {% endfor %}
      
      {% for x in data %}
      <div class="row">
        <div class="col-md-3">
          <img src="{{x.did.pimage.url}} " width="100%">
        </div>
        <div class="col-md-8">
          <p><b>Dish Name:</b>&nbsp;&nbsp;&nbsp;{{x.did.name}}</p>
          <p><b>Price:</b>&nbsp;&nbsp;&nbsp;Rs. {{x.did.price}}</p>
          <p><b>Category:</b>&nbsp;&nbsp;&nbsp;{{x.did.cat}}</p>
          <p><b>Dish Description:</b>&nbsp;&nbsp;&nbsp;{{x.did.dishdetails}}</p>
          <!--<p><b>Qty:</b>
            <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
            <input type="number" value="{{x.qty}}">
            <a href="/updateqty/1/{{x.id}}"><button class="btn btn-success">+</button></a>
            </p>-->
            <a href="/remove/{{x.id}}" class="btn btn-danger">Remove</a>
        </div>
      </div>
      {% endfor %}
  </div>
  <div class="col-md-3">
  <h5 class="bg-danger text-white p-2">Total amount</h5>
  <p><b>Total({{items}}):</b>Rs. {{total}}</p>
  <hr>
  <p><b>Total Amount:</b>Rs. {{total}}</p>
  <a href="/makepayment"><button class="btn btn-success">Make Payment</button></a>
  </div>
<div>

  <!--cart end-->

{% endblock 'main' %}